<div class="screen" id="login"> 
    <input type="text" id="username" placeholder="Enter Username">
    <hr>
    <button id="btn">Submit</button>
</div>

<div class="screen" id="game">
    <div class="game-choices">
        <div class="game-choice" id="rock">
            <h1>Rock</h1>
        </div>
        <div class="game-choice" id="paper">
            <h1>Paper</h1>
        </div>
        <div class="game-choice" id="scissors">
            <h1>Scissors</h1>
        </div>
    </div>
</div>