<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="app.js"></script>
    <title>Sock(et), Paper, Scissors</title>
</head>
<body>
    <header>
        <h1>Sock(et), Paper, Scissors</h1>
    </header>
    <%- body %>
    <footer>
        <h4>Made with &hearts; and Socket.io</h4>
        <h4>WDS 2020</h4>
    </footer>
</body>
</html>